{% extends 'base.html' %} {% block css%} {% endblock %} {% block title %} This
is Home {% endblock title %} {% block content %} {% if user.is_authenticated %}
<!--  -->
<h1>This is Board</h1>
{% for post in posts %}
<div class="alert alert-dismissible alert-warning">
  <h4 class="alert-heading">
    <a href="{% url 'blogapp:detail' post.pk %}">{{post.title}}</a>
  </h4>
  <p class="mb-0">{{post.content}}</p>
</div>

{% endfor %}
<a id="post-button" href="{% url 'blogapp:new' %}">Write yours?</a>

{% else %}
<h1>You Need Login!</h1>

{% endif %} {% endblock content %}
