{% extends 'base.html' %} {% block css %} {% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'detail.css' %}" />
{% endblock %} {% block title %} Detail! {% endblock %} {% block content %}

<div class="detail-post_container">
  <div class="detail_title">제목: {{post.title}}</div>
  <div class="detail_content">내용: {{post.content}}</div>
  <div>
    <form method="POST">
      {% csrf_token %}
      <input type="text" name="content" placeholder="댓글을 입력해주세요" />
      <button type="submit">작성하기</button>
    </form>
  </div>

  <div class="detail-post_btn">
    <a href="{% url 'home' %}">홈 화면</a>
    <a href="{% url 'edit' post.pk %}">수정하기</a>
    <a href="{% url 'delete' post.pk %}">삭제하기</a>
  </div>

  {% for comment in post.comments.all %}
  <li>
    {{comment.content}}
    <form method="POST" action="{{post.pk}}/{{comment.pk}}">
      {% csrf_token %}
      <input
        type="text"
        name="innercontent"
        placeholder="대댓글을 입력해주세요"
      />
      <button type="submit">작성하기</button>
    </form>
    <a href="{% url 'delete-comment' post.pk comment.pk %}">삭제</a> <br />
    {% for innercomment in comment.comments.all %} - {{innercomment.content}}
    <a href="{% url 'delete-innercomment' post.pk innercomment.pk %}">삭제</a
    ><br />
    {% endfor %}
  </li>
  {% endfor %}
</div>

{% endblock %}
